private

# Git credential file
.gitconfig.local

# Ignore certificates and cache
nicklist-*/

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
*~
Thumbs.db
.atom*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Locked db files
*.db
*.db.lock

# Ignore sensitive files in the irssi config
config
config.autosave

# IDEs stuff
.idea
